<h2>@ViewBag.Title</h2>
<p>
     Firmus Software Ltd is a software development and consultancy company, specialising in providing bespoke Enterprise Application Integration solutions to the financial services industry.
</p>

<p>
     Firmus particularly excels at creating solutions based around messaging platforms such as:
</p>

<ul>
    <li>Solace</li>
    <li>Rabbit MQ</li>
    <li>MSMQ</li>
    <li>IBM WebSphere</li>
</ul>

<p>
    The core language specialities of Firmus Software Ltd are:
</p>

<ul>
    <li>C++</li>
    <li>C++/CLI</li>
    <li>C#</li>
</ul>

<p>
    Firmus Software Ltd is a Microsoft .NET platform specialists with core competencies in the following:
</p>
<ul>
    <li>WCF</li>
    <li>WPF</li>
    <li>ASP.NET (both web forms and MVC)</li>
    <li>ADO.NET</li>
</ul>


<p>
    To learn more about Firmus Software Limited please, <a href="mailto:oliver.clancy@firmus-software.co.uk" title="Contact Firmus Software Ltd">send us an email</a>.
</p>