@{
    ViewBag.Title = "Stp";
}

<h2>@ViewBag.Title</h2>
<p>
     Firmus Software Ltd is a software development and consultancy company, specialising in providing bespoke Enterprise Application Integration solutions to the financial services industry.
</p>
